body{

font-family: Arial;

margin:0;

background:#f0f2f5;

text-align:center;

}


header{

background:#222;

color:white;

padding:20px;

}


nav{

margin:20px;

}


button{

padding:10px 15px;

margin:5px;

border:none;

background:#007bff;

color:white;

cursor:pointer;

border-radius:5px;

}


button:hover{

background:#0056b3;

}


.tab{

display:none;

padding:20px;

}


#chatbox{

height:250px;

border:1px solid #ccc;

overflow:auto;

margin:10px;

padding:10px;

background:white;

}


textarea{

width:80%;

height:120px;

padding:10px;

}


input{

padding:10px;

width:60%;

}


ul{

list-style:none;

padding:0;

}


li{

background:#ddd;

margin:5px;

padding:10px;

border-radius:5px;

}


body.dark{

background:#111;

color:white;

}


body.dark #chatbox{

background:#222;

}
